@import "tailwindcss";

@theme {
  --color-background: #1C1C1C;
  --color-text: #2B1D1A;
}

:root {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Arabic language font */
.arLang {
  font-family: "Noto Sans Arabic", sans-serif;}
